.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100vw;
  height: 400vh;
}

.container {
  position: relative;
  width: 90%;
  top: 20px;
  margin: 0 auto;
  background-color: white;
  z-index: 120;
  padding: 40px 20px 20px 20px;
}

.close {
  position: absolute;
  top: 14px;
  right: 14px;
}