.footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #ccc;
}

.listItem {
  font-size: 14px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  span {
    font-size: 12px;
    text-transform: uppercase;
  }
}

.listItemActive {
  font-weight: bold;
}

.menu {
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 200px;
  background-color: white;
  padding: 10px;
}
