@import '../styles/variables.scss';

.container {
  display: flex;
  border: 1px solid $border-color;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px 14px;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  div:first-child {
    margin-right: 14px;
  }

  div:last-child {
    flex: 1;

    p:first-child {
      font-size: 16px;
    }

    p:last-child {
      font-size: 14px;
      color: #999;
    }
  }
}